body {
font-family: Arial, sans-serif;
display: flex;
 justify-content: center;
align-items: center;
background-color: #f4f4f4;
}
#toggle {
            display: none;
        }

       
        #showContainerButton {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            display: inline-block;
        }


        #containerBox {
            display: none;
            padding: 20px;
            margin-top: 20px;
            width: 90%;
        }

    
        #toggle:checked ~ #containerBox {
            display: block;
        }

        #showContainerButton{
            background-color: black;
 color: white;
 border: none;
 border-radius: 20px;
 padding: 10px;
 margin-top: 20px;
 cursor: pointer;
 width: 100px;
margin-left: 120px;
text-align: center;
        }
        
#viewProductButton{
    margin-top: 400px;
}

button {
 background-color: black;
 color: white;
 border: none;
 border-radius: 20px;
 padding: 10px;
 margin-top: 10px;
 cursor: pointer;
 width: 150px;
}

button:hover {
 background-color: #333;
}

.product-card {
 background-color: white;
 border: 1px solid gray;
 border-radius: 5px;
 box-shadow: 0 2px 10px black;
 width: 400px;
 overflow: hidden;
 text-align: left;
border-radius: 20px;
margin-top: 50px;
}

.product-image img {
 width: 100%;
height: auto;
}

.product-info {
 padding: 15px;
}

.product-info h1 {
 font-size: 30px;
 text-align: center;
}

.product-info p {
 margin: 5px 0;
 
}

.product-info button {
 background-color: black;
 color: white;
 border: none;
 padding: 10px;
 margin-top: 20px;
 cursor: pointer;
 width: 100px;
margin-left: 50px;
}

.product-info button:hover {
 background-color: #333;
}